body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a2f7d5;
    font-family: Arial, sans-serif;
    color: white;
}
.container {
    text-align: center;
    background: #b5b5b5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.time {
    font-size: 2em;
    margin: 0 10px;
    background: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
}
#countdown{
    background-image: linear-gradient(to right, #5be2ac, #4fc495);
    padding: 20px;
}
input[type="date"], input[type="time"], button {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
    width: 40%;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}